{% extends "base.html" %}

{% block title %}
{% if search_query %}
Пошук: {{ search_query }}
{% elif category %}
{{ category.name }}
{% else %}
Каталог товарів
{% endif %}
{% endblock %}


{% block content %}
{% include "main/search_form.html" %}

<div class="mb-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-4xl font-bold text-gray-800">
  {% if search_query %}
    Результати пошуку
  {% elif category %}
    {{ category.name }}
  {% else %}
    Каталог товарів
  {% endif %}
</h1>
{% include "main/components/sort_buttons.html" %}
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

  {% for product in products %}
    {% include "main/components/product_card.html" %}
{% empty %}
<div class="col-span-full">
  <p class="text-center text-gray-500 text-lg py-12">
    {% if search_query %}
      Нічого не знайдено за запитом "{{ search_query }}"
    {% else %}
      Товари не знайдено.
    {% endif %}
  </p>
</div>
{% endfor %}


</div>

{% include "main/pagination.html" %}

{% endblock %}
